<!--
<button (click)="sendData()">Send</button>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Userid</th>
      <th scope="col">Title</th>
      <th scope="col">Body</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let i of arr">
      <th scope="row">{{i.id}}</th>
      <td>{{i.userId}}</td>
      <td>{{i.title}}</td>
      <td>{{i.body}}</td>
    </tr>
  </tbody>
</table>
-->

<button (click)="getWebData()">okay</button>





<input type="number" name="id" [(ngModel)]="empid">

<input type="text" name="name" [(ngModel)]="ename">

<input type="number" name="salary" [(ngModel)]="salary">

<ul>

	<li *ngFor="let i of mydata">

		{{i.ename}}

	</li>

</ul>